@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/* input{

    width: 35ex;
    
    }

    .container{

    margin-top: 30px;
} 

   */
/* .is-invalid {
    border-left: solid 6px red;
  } */
  
  /* .material-icons {
    display: inline-flex;
    vertical-align: middle;
  } */

  /* :host ::ng-deep .form-group{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif!important;
  } */