<div class="container p-3" style="padding: 5rem!important;">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header  font-weight-bold">
        Change Password
      </div>
      <div class="card card-body">
          <div class="alert alert-danger" *ngIf="error">
              <p>{{ error }}</p>
             </div>
            <div *ngIf="isLoading" style="text-align: center;">
             <app-loading-spinner></app-loading-spinner>
            </div>
        <form [formGroup]="frmPassword" (submit)="submit()">

          <div class="form-group">
            <label for="oldPassword" [ngClass]="frmPassword.controls['oldPassword'].invalid ? 'text-danger' : ''" style="color:black!important">Current Password:</label>
            <input id="oldPassword" formControlName="oldPassword" type="password" class="form-control" placeholder="Password">
            <label class="text-danger col" *ngIf="
             frmPassword.controls['oldPassword'].hasError('minlength') ">
              Password is Required!
            </label>
          </div>



          <div class="form-group">
            <label for="password" [ngClass]="frmPassword.controls['password'].invalid ? 'text-danger' : ''" style="color:black!important">New Password:</label>
            <input id="password" formControlName="password" type="password" class="form-control" placeholder="New Password" style="margin-bottom: 10px;">
            <label class="text-danger col" *ngIf="frmPassword.controls['password'].hasError('required') && frmPassword.controls['password'].dirty">
              Password is Required!
            </label>
           
            <label class="col" *ngIf="frmPassword.controls['password'].dirty" [ngClass]="frmPassword.controls['password'].hasError('required')  || frmPassword.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success' ">
              <i class="material-icons">{{ frmPassword.controls['password'].hasError('required') ||
                frmPassword.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
              Must be at least 8 characters!
            </label>
        
            <label class="col" *ngIf="frmPassword.controls['password'].dirty" [ngClass]="frmPassword.controls['password'].hasError('required') || frmPassword.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmPassword.controls['password'].hasError('required') ||
                frmPassword.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 number!
            </label>
            <label class="col" *ngIf="frmPassword.controls['password'].dirty" [ngClass]="frmPassword.controls['password'].hasError('required') || frmPassword.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmPassword.controls['password'].hasError('required') ||
                frmPassword.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 in Capital Case!
            </label>
            <label class="col" *ngIf="frmPassword.controls['password'].dirty" [ngClass]="frmPassword.controls['password'].hasError('required') || frmPassword.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmPassword.controls['password'].hasError('required') ||
                frmPassword.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 Letter in Small Case!
            </label>
          </div>

          <div class="form-group">
            <label for="confirmPassword" style="color:black!important" >Confirm New Password:</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="Confitm password">
              <!-- [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''"> -->
            <label class="text-danger" *ngIf="frmPassword.controls['confirmPassword'].hasError('required') && frmPassword.controls['confirmPassword'].dirty">
              Password is Required!
            </label>
            <label class="text-danger" *ngIf="frmPassword.controls['confirmPassword'].hasError('NoPassswordMatch') && frmPassword.controls['confirmPassword'].dirty">
              Password do not match
            </label>
          </div>

          <div class="form-group">
            <button [disabled]="frmPassword.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>







<!-- <h3 style="text-align: center;padding-top: 35px;">Change Password</h3>
<div class="container p-3">
 
    <div class="col-xs-12 col-md-6 col-md-offset-3"> 
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
       </div>
      <div *ngIf="isLoading" style="text-align: center;">
       <app-loading-spinner></app-loading-spinner>
      </div>
    <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)" *ngIf="!isLoading">

    <div class="form-group">
    <label for="password">Current Password</label>
    <input type="password"
    id="password"
    name="password"
    class="form-control"
    placeholder="password"
    ngModel
    required
    minlength="8"
    maxlength="15"
    #password="ngModel">
    </div>

    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="NewPassword"
        id="NewPassword"
        name="NewPassword"
        class="form-control"
        placeholder="New Password"
        ngModel
        required
        minlength="8"
        maxlength="15"
        #NewPassword="ngModel">
        </div>

        <div class="form-group">
            <label for="password">Confirm New Password</label>
            <input type="password"
            id="ConfirmPassword"
            name="ConfirmPassword"
            class="form-control"
            placeholder="Confitm password"
            ngModel
            required
            minlength="8"
            maxlength="15"
            #ConfirmPassword="ngModel">
            </div>

    <span class="help-block" *ngIf="!password.valid && password.dirty">Please enter a valid password!</span>
    <div>
    <button style="margin-right: 2px;" class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Change Password</button>
    </div>
    </form>
  </div>

</div> -->
