<main class="mt-5 pt-4" *ngIf="coupon">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img [src]="coupon.image" class="img-fluid" >

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <p class="lead font-weight-bold">{{coupon.title}}</p>
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{coupon.type}}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>{{oldPrice |  currency:'USD'}}</del>
              </span>
              <span>{{coupon.price |  currency:'USD'}}</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{coupon.message}}</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" min="1" max="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit" [disabled]="cartUserCheck" (click)="onAddToCart(coupon)">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>
