<div class="alert alert-danger" *ngIf="error">
  <p>{{ error }}</p>
 </div>
 <div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
 </div>
 <div class="alert alert-danger" *ngIf="(companies==null || companies.length==0) && !isLoading">
  <p>No companies</p>
 </div>
<div *ngIf="companies">
        <form class="form-inline" style=" padding-top: 15px;height: 100%; display: flex; align-items: center; justify-content: center; align-content: center;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for Company" aria-label="Search" style="width: fit-content;"> 
                <button class="btn btn-light my-sm-0" type="submit">Search</button>
              </form>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let company of companies">
                <td>{{ company.id }}</td>
                <td>{{ company.username }}</td>
                <td>{{ company.email }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        
